<a href="https://colab.research.google.com/github/Harshal1618/ImageTothread/blob/master/ImageToThread_v10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
import itertools as it

In [0]:
def calc_dist(m,b,grid_square):
  l_points = []

  x0 = grid_square[0]
  y0 = grid_square[1]

  y_at_x0 = m* x0 +b
  if y_at_x0 >= y0 and y_at_x0 <= y0 + 1:
    l_points.append((x0, y_at_x0))

  y_at_x1 = m*(x0 + 1) +b
  if y_at_x1 >= y0 and y_at_x1 <= y0 + 1:
    l_points.append((x0+1, y_at_x1))

  x_at_y0 = (y0 - b) / m
  if x_at_y0 >= x0 and x_at_y0 <= x0 + 1:
    l_points.append((x_at_y0,y0))

  x_at_y1 = ((y0 + 1) - b) / m
  if x_at_y1 >= x0 and x_at_y1 <= x0 + 1:
    l_points.append((x_at_y1,y0 + 1))

  #print(' y_at_x0={:0.2f} \n y_at_x1={:0.2f} \
  #      \n x_at_y0={:0.2f} \n x_at_y1={:0.2f}'.format(y_at_x0,y_at_x1,
  #                                                    x_at_y0,x_at_y1))

  l_points = list(set(l_points))

  dist = 0
  if len(l_points) > 2 :
    print ('ERROR: More than 2 intersection points computed in square grid {}'.format(grid_square))
  elif len(l_points) == 2:
    dist = np.sqrt((l_points[0][0] - l_points[1][0])** 2 + (l_points[0][1] - l_points[1][1])** 2)

  #print('List of intersection:{} Distance:{}'.format(l_points,dist))
  return dist

In [0]:
def all_lines(L,H):
  h1  = [(0,i) for i in range(0,H)]
  l1  = [(i,0) for i in range(0,L)]
  h2  = [(H-1,i) for i in range(0,H)]
  l2  = [(i,L-1) for i in range(0,L)]

  l_combi = [ i for i in it.product(h1,l1+h2+l2) ]
  l_combi = l_combi + [ i for i in it.product(l1,h2+l2) ]
  l_combi = l_combi + [ i for i in it.product(h2,l2) ]

  l_combi = list((set(l_combi)))

  l_combi = [e for e in l_combi if e[0] != e[1]]
  
  l_combi.sort(key= lambda x : x[0])
  
  return l_combi

In [0]:
def find_grids(L, H, points):
  x_min = min(points[0][0] , points[1][0])
  x_max = max(points[0][0] , points[1][0])
  y_min = min(points[0][1] , points[1][1])
  y_max = max(points[0][1] , points[1][1])

  l_squares = []


  if points[0][0] == points[1][0] and x_min < L -1:
    arr_squares = np.linspace(y_min,y_max -1,y_max- y_min, dtype = int)
    l_squares = [(x_min,i) for i in arr_squares]

  elif points[0][1] == points[1][1] and y_min < H - 1:
    arr_squares = np.linspace(x_min,x_max -1,x_max- x_min, dtype = int)
    l_squares = [(i,y_min) for i in arr_squares]

  elif x_min >= 0 and y_min >= 0 and x_max < L and y_max < H:
    arr_x = np.linspace (x_min, x_max -1, x_max - x_min, dtype = int)
    arr_y = np.linspace (y_min, y_max -1, y_max - y_min, dtype = int)

    l_squares = [(i,j) for i in arr_x for j in arr_y]


  return l_squares

In [0]:
L , H = 4, 4  # 12 pegs for height and length squares from (0,0) to (12,12)


l_lines = all_lines(L,H) 
l_squares = find_grids(L,H,l_lines[2])




#x1,y1 = points[0][0], points[0][1]
#x2,y2 = points[1][0], points[1][1]
  
#m = (y1-y2) / (x1-x2)  ## Add special case where x1-x2 = 0
#b = y1 - m*x1

#[ (i,calc_dist(m,b,i)) for i in l_squares if calc_dist(m,b,i) > 0]

In [0]:
l = all_lines(4,4)
l.sort(key= lambda x : x[0])

In [22]:
l_lines[2]

((0, 0), (3, 0))

In [21]:
l_squares

[(0, 0), (1, 0), (2, 0)]

In [50]:
line = ((1,2),(2,3))
square1 = (1,2)
square2 = (3,4)
d = dict([((line,square1),[2]),((line,square2),[3])])
d

{(((1, 2), (2, 3)), (1, 2)): [2], (((1, 2), (2, 3)), (3, 4)): [3]}

In [51]:
pd.DataFrame(d).T

                         0
((1, 2), (2, 3)) (1, 2)  2
                 (3, 4)  3