<a href="https://colab.research.google.com/github/Harshal1618/ImageTothread/blob/master/ImageToThread_v14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
import itertools as it

In [0]:
line = ((0,3),(7,12))
square = (6,11)
calc_dist(line, square, True)

x0 = 6 , y0 = 11
y_at_x0 = 10.71 y_at_x1 = 12.0
x_at_y0 = 6.222222222222221 x_at_y1 = 7.0

1.266861583443487

In [0]:
def calc_dist(line,grid_square, debug = False):
  if line[0][0] != line[1][0] and line[0][1] != line[1][1]:
    m = (line[1][1] - line[0][1]) / (line[1][0] - line[0][0])
    b = line[0][1] - m*line[0][0]
    
    l_points = []

    x0 = grid_square[0]
    y0 = grid_square[1]
    
    

    y_at_x0 = round(m* x0 +b,2)
    if y_at_x0 >= y0 and y_at_x0 <= y0 + 1:
      l_points.append((x0, y_at_x0))

    y_at_x1 = round(m*(x0 + 1) +b,2)
    if y_at_x1 >= y0 and y_at_x1 <= y0 + 1:
      l_points.append((x0+1, y_at_x1))

    x_at_y0 = round((y0 - b) / m,2)
    if x_at_y0 >= x0 and x_at_y0 <= x0 + 1:
      l_points.append((x_at_y0,y0))

    x_at_y1 = round(((y0 + 1) - b) / m,2)
    if x_at_y1 >= x0 and x_at_y1 <= x0 + 1:
      l_points.append((x_at_y1,y0 + 1))

      
    if debug :
      print('x0 = {} , y0 = {}'.format(x0,y0))
      print('y_at_x0 = {} y_at_x1 = {}'.format(y_at_x0, y_at_x1))
      print('x_at_y0 = {} x_at_y1 = {}'.format(x_at_y0, x_at_y1))
    #print(' y_at_x0={:0.2f} \n y_at_x1={:0.2f} \
    #      \n x_at_y0={:0.2f} \n x_at_y1={:0.2f}'.format(y_at_x0,y_at_x1,
    #                                                    x_at_y0,x_at_y1))

    l_points = list(set(l_points))

    dist = 0
    if len(l_points) > 2 :
      print ('ERROR: More than 2 intersection points computed in square grid {} \
      for line {}. Points = {}'.format(grid_square, line, l_points))
    elif len(l_points) == 2:
      dist = np.sqrt((l_points[0][0] - l_points[1][0])** 2 + (l_points[0][1] - l_points[1][1])** 2)

    #print('List of intersection:{} Distance:{}'.format(l_points,dist))
    
  else:
    dist = 1
    
  return dist

In [0]:
def all_lines(L,H):
  h1  = [(0,i) for i in range(0,H)]
  l1  = [(i,0) for i in range(0,L)]
  h2  = [(H-1,i) for i in range(0,H)]
  l2  = [(i,L-1) for i in range(0,L)]

  l_combi = [ i for i in it.product(h1,l1+h2+l2) ]
  l_combi = l_combi + [ i for i in it.product(l1,h2+l2) ]
  l_combi = l_combi + [ i for i in it.product(h2,l2) ]

  l_combi = list((set(l_combi)))

  l_combi = [e for e in l_combi if e[0] != e[1]]
  
  # Remove all lines that are along the bourdary with length less than length of square
  l_combi = [e for e in l_combi if not((e[0][0] == e[1][0] and abs(e[0][1] - e[1][1]) < H - 1)
                                      or
                                       (e[0][1] == e[1][1] and abs(e[0][0] - e[1][0]) < L - 1))]
  
  l_combi.sort(key= lambda x : x[0])
  
  return l_combi

In [0]:
def find_grids(L, H, points):
  x_min = min(points[0][0] , points[1][0])
  x_max = max(points[0][0] , points[1][0])
  y_min = min(points[0][1] , points[1][1])
  y_max = max(points[0][1] , points[1][1])

  l_squares = []


  if points[0][0] == points[1][0] and x_min < L -1:
    arr_squares = np.linspace(y_min,y_max -1,y_max- y_min, dtype = int)
    l_squares = [(x_min,i) for i in arr_squares]

  elif points[0][1] == points[1][1] and y_min < H - 1:
    arr_squares = np.linspace(x_min,x_max -1,x_max- x_min, dtype = int)
    l_squares = [(i,y_min) for i in arr_squares]

  elif x_min >= 0 and y_min >= 0 and x_max < L and y_max < H:
    arr_x = np.linspace (x_min, x_max -1, x_max - x_min, dtype = int)
    arr_y = np.linspace (y_min, y_max -1, y_max - y_min, dtype = int)

    l_squares = [(i,j) for i in arr_x for j in arr_y]


  return l_squares

In [6]:
L , H = 11, 11 # There will be L-1 and H-1 pegs respectively. And squares from [0,0] to [9,9]


l_lines = all_lines(L,H) 
l_squares = find_grids(L,H,l_lines[2])

l = [((line, square),[calc_dist(line, square)]) \
     for line in l_lines  \
     for square in find_grids(L,H,line) \
     if calc_dist(line, square) > 0]


df = pd.DataFrame(dict(l)).T
df.index.rename(['line','point'],inplace = True)
df.columns=['dist']
df.head()

                          dist
line              point
((0, 0), (0, 10)) (0, 0)   1.0
                  (0, 1)   1.0
                  (0, 2)   1.0
                  (0, 3)   1.0
                  (0, 4)   1.0

In [7]:
from google.colab import files
image = files.upload()

Saving Obama_v3.jpg to Obama_v3.jpg

In [0]:
!wget "https://github.com/Harshal1618/ImageTothread/blob/master/GridCalculation.png" -O calc.jpg

--2019-03-11 00:59:03--  https://github.com/Harshal1618/ImageTothread/blob/master/GridCalculation.png
Resolving github.com (github.com)... 192.30.255.112, 192.30.255.113
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘calc.jpg’

calc.jpg                [ <=>                ]  51.82K  --.-KB/s    in 0.01s

2019-03-11 00:59:03 (3.40 MB/s) - ‘calc.jpg’ saved [53062]

In [8]:
!ls

Obama_v3.jpg  sample_data

In [0]:
from PIL import Image
im = Image.open('./Obama_v3.jpg')
arr_im = np.asarray(im)

In [0]:
arr_im_10 = np.zeros([10,10],dtype = int)

In [0]:
df_img = pd.DataFrame([0],index=['(x,x)'],columns=['value'])
for i in range(L-1):
  for j in range(H-1):
    area_mean = arr_im[i*10:i*10+10,j*10:j*10+10].mean()
    s_index   = '('+str(i)+', '+str(j)+')'
    df_img = df_img.append(pd.DataFrame([area_mean],index=([s_index]), columns=['value']))

In [0]:
df_img = df_img.reset_index()
df_img = df_img.rename({'index':'point'}, axis = 'columns')

In [52]:
df_img.head(10)

    point   value
0   (x,x)    0.00
1  (0, 0)  254.92
2  (0, 1)  246.43
3  (0, 2)   94.25
4  (0, 3)   46.45
5  (0, 4)   62.21
6  (0, 5)   69.60
7  (0, 6)   50.28
8  (0, 7)  103.20
9  (0, 8)  252.15

In [20]:
arr_im_10

array([[254, 246,  94,  46,  62,  69,  50, 103, 252, 255],
       [254, 154,  38, 133, 205, 218, 170, 104, 169, 254],
       [254,  98,  40, 129, 199, 208, 179, 104, 116, 255],
       [241,  92,  63, 117, 119, 160, 109, 100, 144, 254],
       [220,  70,  93,  95, 132, 168, 117,  90, 128, 254],
       [253, 121, 120, 197, 176, 186, 164, 178, 182, 254],
       [254, 231,  99, 139, 127,  89, 118, 115, 234, 255],
       [255, 254, 134,  78, 106, 138,  94, 117, 254, 255],
       [254, 254, 152,  45, 113,  97,  94, 136, 253, 254],
       [230, 157, 126,  49,  60,  86, 117,  52,  59, 159]])

In [0]:
df = df.reset_index(level=['point'])

In [54]:
df.head()

                    point  dist
line
((0, 0), (0, 10))  (0, 0)   1.0
((0, 0), (0, 10))  (0, 1)   1.0
((0, 0), (0, 10))  (0, 2)   1.0
((0, 0), (0, 10))  (0, 3)   1.0
((0, 0), (0, 10))  (0, 4)   1.0

In [55]:
df_img.head()

    point   value
0   (x,x)    0.00
1  (0, 0)  254.92
2  (0, 1)  246.43
3  (0, 2)   94.25
4  (0, 3)   46.45

In [56]:
df.join(df_img, on='point',how='inner',lsuffix='x')

Empty DataFrame
Columns: [pointx, dist, point, value]
Index: []

In [46]:
df.dtypes

point     object
dist     float64
dtype: object

In [47]:
df_img.dtypes

point     object
value    float64
dtype: object

In [57]:
pd.merge(df, df_img, on='point')

Empty DataFrame
Columns: [point, dist, value]
Index: []